body{
   margin: 0;
    font-family: "Overpass", sans-serif;
    color: rgb(67, 65, 65);
}
ul{
    list-style: none;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: 0;
    background-color: rgb(252, 249, 249);
    height: 90px;
    z-index: 99;
}

header img{
    object-fit: contain; 
}

header div ul{
    display: flex;
    margin-right: 1.5rem;
}
header div ul li{
    padding-left: 1.5rem;
}

.logo{
   margin-right: 0;
   mix-blend-mode: color-burn;

}
#title{
    margin-bottom: 0;
    padding-bottom: 0;
}
#title a {
    font-size: 2.18rem;
    font-family: "Croissant One";
    text-align: left;
    padding-left: 0rem;
    cursor: pointer;
    text-decoration: none;
    color: rgb(67, 65, 65);
}
#title a:hover{
    color: rgb(96, 88, 88);
}
#under-title{
    margin-top: 0;
    padding-top: 0;
}

#nav-bar ul li{
    position: relative;
}

#nav-bar a{
    text-decoration: none;
    color: rgb(66, 63, 63);
}
#nav-bar button{
    border-radius: 12px;
    padding: 6px 12px;
    background-color: rgb(66, 63, 63);
    color: rgb(255, 253, 245);
    cursor: pointer;
}
#nav-bar button:hover{
    background-color: rgb(255, 253, 245);
    color: rgb(66, 63, 63);
}
.top-part nav{
    padding: 6px 12px;
 }

.top-part nav:hover{
    background-color: rgb(255, 253, 245);
    color: rgb(66, 63, 63);
    border-radius: 12px;
    padding: 6px 12px;
    border: 2px solid rgb(46, 43, 43);
}
 .top-part-2{
    padding: 0.3rem 12px;
}

.top-part-2 #menu:hover{
    background-color: rgb(255, 253, 245);
    color: rgb(66, 63, 63);
   border-radius: 12px;
    padding: 6px 12px;
    border: 2px solid rgb(46, 43, 43);

}

.dropdown {
    display: none;
}
.dropdown a:hover{
    font-size: larger;
}

#nav-bar ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(66, 63, 63);
    z-index: 1;
    border-radius: 15px;
  
}
#nav-bar ul li:hover .dropdown ul{
    display: block;
    margin: 10px;
 
}
#nav-bar ul li:hover .dropdown  ul li{
    width: 48px ;
    padding: 10px;
    padding-left: 0;
    padding-right: 2rem;
}

#nav-bar ul li:hover .dropdown  ul li a{
    color: white;
}

#p-part {
   padding-left: 0;
}

#p-part{
    margin-right: auto;
}


#first-section{
    position: relative;
}
    
#first-section button{
    border-radius: 6px;
    padding: 3px 10px;
    background-color: rgb(46, 43, 43);
    color: rgb(255, 253, 245);
    border: 2px solid rgb(27, 27, 31);
    cursor: pointer;
}
#first-section img{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(231, 239, 238));
   }

#first-section button:hover{
    background-color: rgb(240, 240, 246);
    color: rgb(30, 30, 33);
}

#main-page-text{
    position: absolute;
    top: 300px;
    font-size: 2rem;
    margin: 0;
    padding:  0;
    left: 1.5rem;
}
#main-page-text ul{
    margin: 0;
}
#main-txt h1{
    margin-bottom: 0;
    padding-bottom: 0;
}
#main-txt p{
    margin: 0;
}

#under-main-txt{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(78, 76, 76);
    
}

#second-section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 254, 254);
}
#second-section p{
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(193, 161, 119);
}


#cover{
    position: relative;
    width: 70%;
    height: 50%;
    margin-left: 10rem;
}
.cover::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, rgb(240, 214, 214), transparent);
}
.cover::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, rgb(236, 212, 212), transparent);
}
#scroll-images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;

}

#scroll-images::-webkit-scrollbar {
  width: 3px;
}

#scroll-images::-webkit-scrollbar-thumb {
  background-color:  rgb(216, 180, 133);
  border-radius: 6px;
}

#scroll-images::-webkit-scrollbar-thumb:hover {
  background-color:rgb(207, 170, 126);
}
.child{
    min-width: 350px;
    height: 300px;
    margin: 1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
    border: 2px solid rgb(232, 219, 219);
    box-shadow: 2px 4px 8px rgb(61, 58, 58);
    margin-bottom: 2rem;
}

.child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon{
  color: rgb(245, 232, 232);
  background-color: rgb(249, 235, 235);
  font-size: 50px;
  outline: none;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
}


#third-section{
    background-color: rgb(249, 186, 12);
    padding: 15px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
#third-section p{
   text-align: center;
   font-weight: bold;
   font-size: 1.2rem;
}
#third-section a{
text-decoration: none;
color: rgb(53, 50, 50);
font-size: 1rem;

}
#third-section a:hover{
    border: 3px solid rgb(48, 46, 46);
    border-radius: 9px;
    padding: 10px;
    color: rgb(70, 70, 70);
}
#fourth-section{
    display: flex;
    margin-bottom: 0;
}
#fourth-section img{
   border-radius: 5px;
   box-shadow: 2px 4px 8px rgb(68, 67, 67) ;
   margin: 3rem 2.8rem; 
   width: 35rem;
   height: 40rem;
}
#fourth-section-content{
    flex-direction: column;
    margin: 3rem 1.5rem;
    bottom: 4rem;

}
#fourth-section-content{
   margin-left: 5rem;
}
.title-number{
    font-weight: bolder;
    margin-top: 0.2;
}
.number{
    font-family: "Croissant One", sans-serif;
    font-size: 2rem;
    color: rgb(209, 163, 102);
    font-weight: bold;
    margin-bottom: 0;
    
}
    
#fifth-section{
    position: relative;
}
#fifth-section img{
    width: 100%;
    height: 100vh;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
#fifth-section-content{
    position: absolute;
    top: 300px;
    color: azure; 
    font-weight: bolder;
    background-color: rgba(185, 99, 99, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67) ;
    padding-left: 10px;
    padding: 10px 30px;
    margin: 1rem auto;
    font-size: 1.5rem;
}
#in-fifth-section{
    display: flex;
    justify-content: space-around;
    
}
#in-fifth-section button{
    border-radius: 6px;
    background-color: rgb(218, 200, 216);
    color: rgb(72, 71, 71);
    cursor: pointer;
}
#in-fifth-section button:hover{
    background-color: rgb(209, 190, 207);
    
}
#date-part{
    width: 60%;
    box-sizing: border-box;
    font: inherit;
    color: rgb(61, 58, 58);
     
}
#date-part input{
    padding: 0 23px;
}
select{
    width: 50%;
    display: block;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(184, 184, 184);
    padding: 0.25rem;
    color: rgb(61, 58, 58);
    margin-bottom: 4rem;   
}

   
#footer-part {

    height: 16rem;
    background-color: rgb(252, 249, 249);
    display: flex;
    justify-content: space-between;
}

.footer-content{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    padding-right: 3rem;
}
.footer-content-special{
    display: flex;
    margin-left: 0;
    padding-left: 0;
   
}
#contact-us-part{
    margin-left: 1.2rem;
}

#social-part{
    padding-left: 3rem;
}

.last-img{
    height: 3rem;
   mix-blend-mode: color-burn;
   margin: 1.3rem 1rem;
}

@media only screen  and (max-width: 915px){
    html{
        display: flex;
    }
    #fourth-section{
        display: block;
    }
    #fourth-section img{
        width: 60rem;
        margin-left: 10rem;
    }
    #fourth-section-content{
        margin-left:1.3rem;
    }
}

@media only screen  and (max-width: 768px) {
    html{
        display: flex;
    }
   
    
    #first-section img{
        width: 45%;
    }
    #cover{
        margin-left: 6rem;
        width: 50%;
    }
    #third-section{
        width: 45%;
    }
    #fourth-section{
        display: block;
    }
    #fourth-section img{
        width: 60rem;
        margin-left: 10rem;
    }
    #fourth-section-content{
        margin-left:1.3rem;
    }

    #fifth-section img{
        width: 45%;
        object-fit: cover;
    }
    #fifth-section-content{
        top: 160px;
        padding: 70px 35px;
        margin:0.5rem 4.5rem;
        font-size: 3rem;
    }
   
    #in-fifth-section input{
        margin-top: 0;
        margin-left: 5rem;
        padding:  1rem 5rem;
        border-radius: 8px;
    }
    #in-fifth-section button{
       padding: 0.5rem 2rem;
       margin-left: 5.2rem;
    }
    #in-fifth-section li input{
        font-size: 1.5rem;
    }
   
    #date-part input{
        padding: 1rem 6rem;
    }
    #contact-us-part select{
        width: 25%;
    }

    footer{
        width: 45%;
    }
 
    #footer-part{
        display: block;
        height: 58rem;
        margin: 0;
       
    }
    .footer-content{
        margin-left: 4rem;
        margin-top: 0.5rem;
    }
    #footer-part h3{
        margin-left: 2rem;
    }
    #p-part{
        font-size: smaller;
    }
    #social-part{
        padding-top: 3rem;
        padding-left: 0;
    }
    #social-part a{
        margin-left: 2rem;
    }


}


    







